.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 5791px;
}

.u-section-1 .u-list-1 {
  width: 1089px;
  min-height: 5756px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-gap: 10px 10px;
  height: auto;
  margin: 25px auto 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 308px;
  height: 308px;
  background-image: url("images/vietanh.jpg");
  background-position: 50% 50%;
  margin: 53px auto 0 25px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -246px -71px 0 418px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 0 272px 0 418px;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  margin: 25px 0 0 418px;
}

.u-section-1 .u-text-4 {
  line-height: 2;
  margin: 58px 25px 0 60px;
}

.u-section-1 .u-image-2 {
  width: 210px;
  height: 210px;
  margin: 13px auto 0 230px;
}

.u-section-1 .u-image-3 {
  width: 210px;
  height: 210px;
  margin: -210px 215px 0 auto;
}

.u-section-1 .u-text-5 {
  line-height: 2;
  margin: 22px -9px 0 94px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-4 {
  width: 308px;
  height: 308px;
  background-image: url("images/maily.png");
  background-position: 50% 50%;
  margin: 53px auto 0 25px;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -246px -71px 0 418px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 0 272px 0 418px;
}

.u-section-1 .u-text-8 {
  line-height: 2;
  margin: 25px 0 0 418px;
}

.u-section-1 .u-text-9 {
  line-height: 2;
  margin: 58px 25px 0 60px;
}

.u-section-1 .u-image-5 {
  width: 210px;
  height: 210px;
  margin: 13px auto 0 230px;
}

.u-section-1 .u-image-6 {
  width: 210px;
  height: 210px;
  margin: -210px 215px 0 auto;
}

.u-section-1 .u-text-10 {
  line-height: 2;
  margin: 22px -9px 0 94px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-7 {
  width: 308px;
  height: 308px;
  background-image: url("images/vinh.jpg");
  background-position: 50% 50%;
  margin: 53px auto 0 25px;
}

.u-section-1 .u-text-11 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -246px -71px 0 418px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 0 272px 0 418px;
}

.u-section-1 .u-text-13 {
  line-height: 2;
  margin: 25px 0 0 418px;
}

.u-section-1 .u-text-14 {
  line-height: 2;
  margin: 58px 25px 0 60px;
}

.u-section-1 .u-image-8 {
  width: 210px;
  height: 210px;
  margin: 13px auto 0 230px;
}

.u-section-1 .u-image-9 {
  width: 210px;
  height: 210px;
  margin: -210px 215px 0 auto;
}

.u-section-1 .u-text-15 {
  line-height: 2;
  margin: 22px -9px 0 94px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-10 {
  width: 308px;
  height: 308px;
  background-image: url("images/leegain.jpg");
  background-position: 50% 0%;
  margin: 53px auto 0 25px;
}

.u-section-1 .u-text-16 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -246px -71px 0 418px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 0 272px 0 418px;
}

.u-section-1 .u-text-18 {
  line-height: 2;
  margin: 25px 0 0 418px;
}

.u-section-1 .u-text-19 {
  line-height: 2;
  margin: 58px 25px 0 60px;
}

.u-section-1 .u-image-11 {
  width: 210px;
  height: 210px;
  margin: 13px auto 0 230px;
}

.u-section-1 .u-image-12 {
  width: 210px;
  height: 210px;
  margin: -210px 215px 0 auto;
}

.u-section-1 .u-text-20 {
  line-height: 2;
  margin: 22px -9px 0 94px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-1 .u-image-13 {
  width: 308px;
  height: 308px;
  background-image: url("images/viet.jpg");
  background-position: 50% 50%;
  margin: 53px auto 0 25px;
}

.u-section-1 .u-text-21 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -246px -71px 0 418px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 0 272px 0 418px;
}

.u-section-1 .u-text-23 {
  line-height: 2;
  margin: 25px 0 0 418px;
}

.u-section-1 .u-text-24 {
  line-height: 2;
  margin: 58px 25px 0 60px;
}

.u-section-1 .u-image-14 {
  width: 210px;
  height: 210px;
  margin: 13px auto 0 230px;
}

.u-section-1 .u-image-15 {
  width: 210px;
  height: 210px;
  margin: -210px 215px 0 auto;
}

.u-section-1 .u-text-25 {
  line-height: 2;
  margin: 22px -9px 0 94px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 197px;
    margin-left: 343px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 19px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -205px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 77px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 197px;
    margin-left: 343px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 197px;
    margin-left: 343px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-top: -25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 197px;
    margin-left: 343px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-11 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-top: -25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 197px;
    margin-left: 343px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 343px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-25 {
    margin-top: -25px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    min-height: 1058px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 258px;
    height: 258px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -226px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 87px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 396px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 69px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 27px;
  }

  .u-section-1 .u-image-4 {
    width: 258px;
    height: 258px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -226px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 87px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 396px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -75px;
  }

  .u-section-1 .u-image-7 {
    width: 258px;
    height: 258px;
    margin-top: 141px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -226px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 87px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 396px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -75px;
  }

  .u-section-1 .u-image-10 {
    width: 258px;
    height: 258px;
    margin-top: 141px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -226px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 87px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 233px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 396px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -75px;
  }

  .u-section-1 .u-image-13 {
    width: 258px;
    height: 258px;
    margin-top: 141px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: -226px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-right: 87px;
    margin-left: 290px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 585px;
    margin-left: 233px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 396px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -75px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 235px;
    height: 235px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -203px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 17px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 163px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 816px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 144px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -48px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    width: 235px;
    height: 235px;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
    margin-top: -203px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 17px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 163px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 816px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -150px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    width: 235px;
    height: 235px;
    margin-top: 130px;
  }

  .u-section-1 .u-text-11 {
    font-size: 2.25rem;
    margin-top: -203px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 17px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 163px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 816px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -150px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    width: 235px;
    height: 235px;
    margin-top: 130px;
  }

  .u-section-1 .u-text-16 {
    font-size: 2.25rem;
    margin-top: -203px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 17px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 163px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 816px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -150px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    width: 235px;
    height: 235px;
    margin-top: 130px;
  }

  .u-section-1 .u-text-21 {
    font-size: 2.25rem;
    margin-top: -203px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 17px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 1005px;
    margin-left: 163px;
  }

  .u-section-1 .u-text-24 {
    margin-top: 816px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -150px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    min-height: 1676px;
    margin-top: 287px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 546px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 319px;
    margin-left: 110px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 110px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -223px;
  }

  .u-section-1 .u-image-4 {
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 546px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 7px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 110px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -325px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 124px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: 546px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 7px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 110px;
  }

  .u-section-1 .u-text-15 {
    margin-top: -325px;
  }

  .u-section-1 .u-image-10 {
    margin-top: 124px;
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: 546px;
  }

  .u-section-1 .u-image-11 {
    margin-right: 7px;
  }

  .u-section-1 .u-image-12 {
    margin-right: 110px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -325px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 124px;
    margin-left: auto;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-1 .u-text-22 {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-23 {
    margin-top: 690px;
    margin-left: 0;
  }

  .u-section-1 .u-text-24 {
    margin-top: 546px;
  }

  .u-section-1 .u-image-14 {
    margin-right: 7px;
  }

  .u-section-1 .u-image-15 {
    margin-right: 110px;
  }

  .u-section-1 .u-text-25 {
    margin-top: -325px;
  }
}